.header{
    padding-top: 2em;
    font-weight: bold;
}

.menuItem{
    padding: 2em;
    margin: 0 1em 1em 1em;
    border: 2px black;
    border-style: solid;
    border-radius: 999px;
    background-color: rgb(133, 0, 0);
    color: white;
}

.img {
    width: 100px;
    height: auto;

}
